@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at 50% 50%, #ff3131 0%, #ff914d 100%);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}