---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Intro from '../components/Intro.astro';
import Carousel from '../components/Carousel.astro';
import Contacto from '../components/Contacto.astro';
import Vision from '../components/Vision.astro';
---

<Layout title="DesignMatch | Home">
    
    <main>
        <Hero />

        <Intro />
        
        <Carousel />

        <Vision />

        <Contacto />
    </main>

</Layout>